<div *ngIf="post" class="single _wide">

  <aside class="aside _flex-direction-column _flex-horizontal-align-center">
    <app-post-author class="post-author" [displayName]="false"></app-post-author>

    <app-post-share-to class="post-share-to" flow="column" [post]="post"></app-post-share-to>
  </aside>

  <div class="_narrow">
    <app-post-title class="post-title" [post]="post" [link]="false">
      <h1>{{post.title}}</h1>
    </app-post-title>

    <app-post-tags class="post-tags" [post]="post"></app-post-tags>

    <app-post-featured-image class="post-featured-image" [post]="post" [link]="false"></app-post-featured-image>

    <app-post-content class="post-content" [post]="post"></app-post-content>

    <hr class="horizontal-separator" />

    <div class="metadata-and-share-to mast _flex _flex-vertical-align-middle">
      <app-post-metadata class="post-metadata" [post]="post"></app-post-metadata>

      <app-post-share-to class="post-share-to" [post]="post"></app-post-share-to>
    </div>
  </div>

</div>
