<div *ngIf="post" class="editor">
  <aside class="sidebar">
    <header>
      <app-button [style.margin-right]="'-1.6rem'">
        {{'close' | uppercase}}
      </app-button>
      <app-button ariaLabel="Close Sidebar" [icon]="faTimes"></app-button>
    </header>

    <div class="_section-title">
      {{'Attachments' | uppercase}}
    </div>

    <ul class="attachments _list-unstyled">
      <li class="attachment-item --new">
        <span>
          <fa-icon [icon]="faImage"></fa-icon>
        </span>
      </li>
      <li *ngFor="let f of post.attachments" class="attachment-item">
        <img src="/api/v2.1/storage/{{f.slug}}" alt="{{f.name}}">
      </li>
    </ul>
  </aside>

  <div class="control-pane">
    <app-button [style.margin-left]="'3.2rem'">{{'Editor' | uppercase}}</app-button>
    <app-button [style.margin-left]="'3.2rem'">{{'Preview' | uppercase}}</app-button>
  </div>

  <div class="title-and-markdown tam">
    <input class="post-title input" placeholder="Title" (change)="onChangeTitle()" [(ngModel)]="post.title" />

    <textarea appAutoResize class="post-markdown input --textarea" placeholder="Markdown" (change)="onChangeMarkdown()"
      [(ngModel)]="post.markdown"></textarea>

    <div *ngIf="isFetching$ | async" class="status">
      <fa-icon [icon]="faSpinnerThird" [spin]="true"></fa-icon>Saving...
    </div>
  </div>
</div>
