:host {
  background: #fff;
  bottom: 0;
  display: block;
  left: 25.6rem;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.post-editor {
  display: grid;
  grid-template: 6.4rem auto / 25.6rem auto;
  width: 100%;
}

.additional-data-editor {
  background: #fff;
  border-right: 0.1rem solid #ececec;
  grid-row: 1 / 3;
  min-height: 100vh;

  & > header {
    border-bottom: 0.1rem solid #ececec;
    display: flex;
    height: 6.4rem;
    justify-content: flex-end;
  }
}

.control-pane {
  border-bottom: 0.1rem solid #ececec;
  grid-row: 1 / 2;
}

.content {
  background: #f9f9f9;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 100%;
  padding: 3.2rem;

  > .post-markdown {
    min-height: calc(100% - 8.9rem - 3.2rem);
    /*                       title   margin-bottom */
    margin-top: 3.2rem;
  }
}

.input {
  border: none;
  background: #fff;
  font: normal 300 1.6rem Pridi, sans-serif;
  outline: none;
  padding: 3.2rem;
  width: 100%;

  &::placeholder {
    font: italic 400 1.6rem Lato, sans-serif;
    // font-style: italic;
  }

  &.--textarea {
    overflow-y: hidden;
  }
}
