<div *ngIf="post" class="post-editor">
  <aside class="additional-data-editor">
    <header>
      <app-button [style.margin-right]="'-1.6rem'">
        {{'close' | uppercase}}
      </app-button>
      <app-button ariaLabel="Close Sidebar" [icon]="faTimes"></app-button>
    </header>

    <div class="_section-title">
      {{'Attachments' | uppercase}}
    </div>
  </aside>

  <div class="control-pane">
    <app-button [style.margin-left]="'3.2rem'">{{'Editor' | uppercase }}</app-button>
  </div>

  <div class="content">
    <input class="post-title input" placeholder="Title" (change)="onChangeTitle()" [(ngModel)]="post.title" />

    <textarea appAutoResize class="post-markdown input --textarea" placeholder="Markdown" (change)="onChangeMarkdown()"
      [(ngModel)]="post.markdown"></textarea>
  </div>
</div>
