:host {
  background: #fff;
  display: block;
  width: 100vw;
}

.editor {
  display: grid;
  grid-template: 6.4rem auto / 25.6rem auto;
  min-height: 100%;
  width: 100%;
}

.sidebar {
  background: #fff;
  border-right: 0.1rem solid #ececec;
  grid-row: 1 / 3;
  min-height: 100vh;

  & > header {
    border-bottom: 0.1rem solid #ececec;
    display: flex;
    height: 6.4rem;
    justify-content: flex-end;
  }

  ::ng-deep ._section-title {
    margin: 3.2rem!important;
    margin-bottom: 2.4rem!important;
  }
}

.navbar {
  align-items: center;
  border-bottom: 0.1rem solid #ececec;
  display: flex;
  grid-row: 1 / 2;
}

.article {
  background: #f9f9f9;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 100%;
  padding: 3.2rem;
  position: relative;
}

.saving-status {
  background: #42a5f5;
  border-radius: 0.2rem 0.2rem 0 0;
  bottom: 0;
  color: #e3f2fd;
  font: normal 400 1.2rem Lato, sans-serif;
  left: calc(50% + 25.6rem);
  padding: 0.4rem 0.8rem;
  position: fixed;
  transform: translateX(calc(-50% - 25.6rem / 2));

  > fa-icon {
    margin-right: 0.8rem;
  }

  &.--success {
    background: #66bb6a;
    color: #e8f5e9;
  }

  &.--error {
    background: #ef5350;
    color: #ffebee;
  }
}
