:host {
  background: #fff;
  bottom: 0;
  display: block;
  left: 25.6rem;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.editor {
  display: grid;
  grid-template: 6.4rem auto / 25.6rem auto;
  min-height: 100%;
  width: 100%;
}

.sidebar {
  background: #fff;
  border-right: 0.1rem solid #ececec;
  grid-row: 1 / 3;
  min-height: 100vh;

  & > header {
    border-bottom: 0.1rem solid #ececec;
    display: flex;
    height: 6.4rem;
    justify-content: flex-end;
  }
}

.control-pane {
  border-bottom: 0.1rem solid #ececec;
  grid-row: 1 / 2;
}

.tam {
  background: #f9f9f9;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 100%;
  padding: 3.2rem;
  position: relative;

  > .post-markdown {
    min-height: calc(100% - 8.9rem - 3.2rem);
    /*                       title   margin-bottom */
    margin-top: 3.2rem;
  }

  > .status {
    background: #42a5f5;
    border-radius: 0.2rem 0.2rem 0 0;
    bottom: 0;
    color: #e3f2fd;
    font: normal 400 1.2rem Lato, sans-serif;
    left: calc(50% + 25.6rem);
    transform: translateX(-50%);
    padding: 0.4rem 0.8rem;
    position: fixed;

    > fa-icon {
      margin-right: 0.8rem;
    }

    &.--success {
      background: #66bb6a;
      color: #e8f5e9;
    }

    &.--error {
      background: #ef5350;
      color: #ffebee;
    }
  }
}

.input {
  border: none;
  background: #fff;
  font: normal 300 1.6rem Pridi, sans-serif;
  outline: none;
  padding: 3.2rem;
  width: 100%;

  &::placeholder {
    font: italic 400 1.6rem Lato, sans-serif;
  }

  &.--textarea {
    overflow-y: hidden;
  }
}
