<div *ngIf="post" class="editor">
  <aside class="sidebar">
    <header>
      <app-button [style.margin-right]="'-1.6rem'">
        {{'close' | uppercase}}
      </app-button>
      <app-button ariaLabel="Close Sidebar" [icon]="faTimes"></app-button>
    </header>

    <div class="_section-title">
      {{'Attachments' | uppercase}}
    </div>

    <ul class="attachments _list-unstyled">
      <li class="attachment-item --new" [ngClass]="{'--disabled': isUploadingAttachments}"
        (click)="isUploadingAttachments ? false : file.click()">
        <fa-icon [icon]="isUploadingAttachments ? faSpinnerThird : faImage" [spin]="isUploadingAttachments"></fa-icon>
        <input #file type="file" name="files" multiple="multiple" (change)="onChangeAttachments($event.target.files)" />
      </li>

      <li *ngFor="let attachment of post.attachments;let i = index" class="attachment-item"
        (click)="selectedAttachment = attachment">
        <img src="/api/v2.1/storage/{{attachment.slug}}?width=64" alt="{{attachment.name}}">
      </li>
    </ul>
  </aside>

  <div class="navbar">
    <!-- <app-button [style.margin-left]="'3.2rem'">{{'Editor' | uppercase}}</app-button>
    <app-button [style.margin-left]="'3.2rem'">{{'Preview' | uppercase}}</app-button> -->
  </div>

  <div class="article">
    <app-dialog *ngIf="selectedAttachment" class="attachment-viewer" state="show">
      <div class="_flex _flex-horizontal-align-right _flex-vertical-align-middle" [style.margin]="'3.2rem 3.2rem 0 0'">
        <app-button [style.margin-right]="'-1.6rem'" (click)="selectedAttachment = null" [style.margin-top]="'.2rem'">
          {{'close' | uppercase}}
        </app-button>
        <app-button ariaLabel="Close Sidebar" [icon]="faTimes" (click)="selectedAttachment = null"></app-button>
      </div>

      <div class="selected-attachment">
        <img src="/api/v2.1/storage/{{selectedAttachment.slug}}?width=420" alt="{{selectedAttachment.name}}" />

        <div [style.margin-top]="'2.4rem'">
          <input class="post-attachment" value="/api/v2.1/storage/{{selectedAttachment.slug}}" />
        </div>
      </div>
    </app-dialog>

    <input class="post-title" placeholder="Title" (change)="onChangeTitle()" [(ngModel)]="post.title" />

    <textarea appAutoResize class="post-markdown" placeholder="Markdown" (change)="onChangeMarkdown()"
      [(ngModel)]="post.markdown"></textarea>

    <div *ngIf="isFetching" class="status">
      <fa-icon [icon]="faSpinnerThird" [spin]="true"></fa-icon>Saving...
    </div>
  </div>
</div>
