@import "../../styles.scss";

:host {
  display: block;
  width: 100vw;

  > ._wide {
    padding: 0;

    @include lg {
      padding: 0 3.2rem;
    }
  }
}

.app-post-featured-image.-with-featured-image {
  margin-top: 6.4rem;

  @include md {
    margin-top: 8rem;
  }
}

.app-post-title {
  margin-top: 8rem;
}

.app-post-featured-image.-with-featured-image + .app-post-title {
  margin-top: 3.2rem;

  @include md {
    margin-top: 4.8rem;
  }
}

.horizontal-separator {
  /*
    Actually, these CSS rules should be `border: none;`,
    in some reason, it doesn't work on the Ubuntu desktop 18.04 LTS version.
    But it will work if I define each side of border to "none" and leave the bottom side to style.
  */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.1rem solid #ececec;
  margin: 4.8rem 0;
}

.mast {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  margin: 0 -3.2rem;
  padding: 3.2rem 0;

  @include md {
    align-items: center;
    background: none;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .app-post-metadata {
    margin: 0 auto;

    @include md {
      margin: 0;
    }
  }

  .app-post-share-to {
    margin: 2.4rem auto 0 auto;

    @include md {
      margin: 0 0 0 auto;
    }
  }

  ::ng-deep {
    .app-post-metadata {
      display: block;

      @include md {
        display: grid;
      }

      .app-post-author {
        align-items: center;
        flex-direction: column;

        @include md {
          align-items: flex-start;
          flex-direction: row;
          justify-content: flex-start;
        }

        .display-name {
          margin: 1.6rem 0 0 0;

          @include md {
            margin: 0.8rem 0 0 1.6rem;
          }
        }
      }

      .published-at {
        margin: 0.8rem 0 0 0;

        @include md {
          margin: -2.8rem 0 0 1.6rem;
        }
      }
    }
  }
}
