.attachments {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 3.2rem !important;
}

.attachment-item {
  align-items: center;
  background: #eee;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 4.2rem;
  margin-bottom: 0.8rem;
  overflow: hidden;
  transition: border-radius 0.4s ease-in-out;
  width: 4.2rem;
}

.attachment-item.-new {
  color: #bdbdbd;
  font-size: 2.2rem;
}

.attachment-item.-disabled {
  cursor: default;
}

.attachment-item.-selected {
  border-radius: 50%;
}

.attachment-item > img {
  max-height: 100%;
  max-width: 100%;
}

input[type="file"] {
  display: none;
}
