<div class="_narrow">
  <div class="_section-title">
    Recent Posts
  </div>

  <ul class="latest-published-posts _list-unstyled">
    <li *ngFor="let post of latestPublishedPosts$ | async | slice:0:5">
      <app-post-featured-image class="app-post-featured-image" [post]="post"></app-post-featured-image>

      <app-post-title class="app-post-title" [post]="post">
        <h2>{{post.title}}</h2>
      </app-post-title>

      <app-post-tags class="app-post-tags" [post]="post"></app-post-tags>

      <app-post-excerpt class="app-post-excerpt" [post]="post"></app-post-excerpt>

      <app-post-metadata class="app-post-metadata" [post]="post"></app-post-metadata>
    </li>
  </ul>

  <div *ngIf="(latestPublishedPosts$ | async)?.length > 5" class="_text-right" [style.margin-top]="'6.4rem'">
    <app-outline-button class="app-outline-button" [routerLink]="['/page', '2']">Older Posts</app-outline-button>
  </div>
</div>
