<div class="_narrow">
  <h2 class="section-title">
    Recent Posts
  </h2>

  <ul class="latest-published-posts lpp _list-unstyled">
    <li *ngFor="let post of latestPublishedPosts">
      <h3><a href="">{{post.title}}</a></h3>
      <ul class="tags _list-unstyled">
        <!-- <li *ngFor="let tag of post.tags"><a href="">{{tag.name}}</a></li> -->
        <li><a href="">#Donec</a></li>
        <li><a href="">#Lorem</a></li>
        <li><a href="">#Curabitur</a></li>
      </ul>

      <article [innerHTML]="(post.html | split: '</p>')[0]"></article>
    </li>
  </ul>
</div>
