<div class="_narrow">
  <div class="section-title">
    Recent Posts
  </div>

  <ul class="latest-published-posts _list-unstyled">
    <li *ngFor="let p of latestPublishedPosts">
      <app-post-title [post]="p">
        <h2>{{p.title}}</h2>
      </app-post-title>

      <app-post-tags [post]="p"></app-post-tags>

      <app-post-featured-image *ngIf="p.featuredImage.slug" [post]="p"></app-post-featured-image>

      <app-post-excerpt [post]="p"></app-post-excerpt>

      <app-post-metadata [post]="p"></app-post-metadata>
    </li>
  </ul>

  <div class="_text-right" [style.margin-top]="'6.4rem'">
    <app-outline-button>Older Posts</app-outline-button>
  </div>
</div>
