.section-title {
    color: #4d4d4d;
    display: inline-block;
    font: normal 2.2rem Lato, sans-serif;
    letter-spacing: .04rem;
    margin: 8rem 0 1.6rem;
    position: relative;
    text-transform: uppercase;

    &:after {
        border-bottom: .1rem solid #808080;
        content: '';
        display: block;
        margin-top: 1.6rem;
        width: 80%;
    }
}

.latest-published-posts {
    li {
        margin: 4.8rem 0 0;
    }
}
