<div class="_section-title">
  {{type | uppercase}}
</div>

<div class="input _flex _flex-vertical-align-middle">
  <input (blur)="onBlur()" (keyup)="onKeyPress($event.target.value)" />
  <fa-icon [icon]="icons.faSearch" [style.margin-right]="'1.6rem'"></fa-icon>
</div>

<div [style.margin]="'0 3.2rem'">
  <app-dropdown-button class="dropdown-archive" [items]="dropdownItems" [showMenu]="dropdownItems.length > 0"
    (selectItem)="onChange($event)"></app-dropdown-button>
</div>

<ul class="selected-archives _list-unstyled">
  <li *ngFor="let archive of selectedArchives" class="selected-archive-item">
    <label class="_flex _flex-vertical-align-middle">
      <input type="checkbox" [checked]="true" (click)="toggleSelectedArchive(archive)" />&nbsp;&nbsp;{{archive.name}}
    </label>
  </li>
</ul>
