<div *ngIf="post" class="_wide">
  <!-- <div>
      <app-post-author [displayName]="false"></app-post-author>

      <div class="facebook-share-count"></div>

      <app-post-share-to [flow]="column"></app-post-share-to>
    </div> -->

  <div class="_narrow">
    <app-post-featured-image [post]="post" [coverMode]="true">
      <div class="_narrow">
        <app-post-title [post]="post" [link]="false">
          <h1>{{post.title}}</h1>
        </app-post-title>

        <app-post-tags [post]="post"></app-post-tags>
      </div>
    </app-post-featured-image>

    <app-post-content [post]="post"></app-post-content>

    <hr class="horizontal-separator" />

    <div class="metadata-and-share-to mast">
      <app-post-metadata [post]="post"></app-post-metadata>

      <app-post-share-to [post]="post"></app-post-share-to>
    </div>
  </div>
</div>
