.post-item {
  border-bottom: 0.1rem solid #ececec;
  margin: 3.2rem 0;
  padding-bottom: 4.8rem;
}

.metadata {
  color: #666;
  font: normal 400 1.6rem Lato, sans-serif;
}

.post-categories {
  display: inline-block;
}
