@import "../../../styles.scss";

:host {
    font: normal 300 1.6rem Pridi, sans-serif;
}

::ng-deep p {
    margin: 2.4rem 0;
    text-align: justify;

    @include md {
        text-align: left;
    }
}
