@import '../../../styles.scss';

:host {
  display: block;

  &.-cover-mode {
    background: center / cover no-repeat fixed;
    margin: 0 -3.2rem 2.4rem -3.2rem;
    padding-top: 8rem;

    ::ng-deep {
      app-post-title {
        margin-top: 0;
      }
    }
  }

  &.-cover-mode.-with-featured-image {
    ::ng-deep {
      app-post-title,
      app-post-tags a {
        color: #fafafa;
      }

      app-post-tags {
        display: block;
        padding-bottom: 3.2rem;
      }
    }
  }
}

img {
  max-width: 100%;
}
