<div class="sidebar">
  <header>
    <app-button
      [icon]="faTimes"
      (click)="toggleSidebar()"
    ></app-button>
  </header>

  <nav>
    <ul class="_list-unstyled">
      <li>
        <a [routerLink]="['']" routerLinkActive="-actived">Home</a>
      </li>
      <li *ngFor="let cat of categories">
        <a [routerLink]="['category', cat.slug]">{{cat.name}}</a>
      </li>
    </ul>
  </nav>
</div>

<app-dialog *ngIf="sidebarExpanded"></app-dialog>

<div class="navbar">
  <app-button
    [icon]="faBars"
    (click)="toggleSidebar()"
  ></app-button>
</div>

<main class="main">
  <router-outlet></router-outlet>
</main>
