.input {
  border: 0.1rem solid #ececec;
  border-radius: 50vh;
  color: #808080;
  font: normal 1.3rem Lato, sans-serif;
  margin: 0 3.2rem;
}

.input > input {
  border: none;
  height: 3.2rem;
  margin: 0 1.6rem;
  width: 100%;
}

.dropdown-archive ::ng-deep .dropdown-menu {
  top: 1.6rem;
}
